/* Styling chats section */
.chat-box {
  height: 20%;
  position: fixed;
  bottom: 0;
  transition-duration: 1.5s;
}

.chat-box-active {
  height: 70%;
}

.exp-or-col-chats-btn {
  height: 20px;
  position: fixed;
  right: 0;
}

.chat-message {
  background: #607471;
  position: relative;
  top: 20px;
  padding-bottom: 40px;
}

.chat-message-active {
  height: calc(100% - 20px);
}

.chat {
  width: 60%;
  color: #fffaff;
  background: #0e0f19;
  margin: 3px 0;
  padding: 0 3px;
  border-radius: 6px;
}

.send-chat {
  text-align: right;
  float: right;
}

#chat-form {
  position: fixed;
  bottom: 0;
}

.chat-form-element {
  height: 36px;
  color: #0e0f19;
  background: #fffaff;
  outline: none;
  border: 1px solid #0e0f19;
}

.message-box {
  width: 75%;
  overflow: hidden;
}

.chat-button {
  width: 10%;
}

#send-chat-button {
  width: 15%;
}
/* Styled chats section */
