.index .start {
    width: 100%;
    color: var(--white);
    top: 50%;
    transform: translate(-50%, -50%);
}

.index .start span {
    color: var(--white);
    font-weight: bold;
    font-size: 2.1rem;
    display: block;
    cursor: pointer;
}

.index .start p {
    margin: 13px;
}